<div>
  <h1 style="color:red; text-align:center;">¡Cambiar contraseña!</h1>
  <br />
  <div style="text-align:center;">
    <img src="cid:banner" alt="">
  </div>
  <h2>¡Hola!Para reestablecer tu contraseña es necesario que ingreses en el siguiente link</h2>
  <p>Es importante que ingreses un password distinto al anterior.</p>
  <div class="text-center text-lg-start mt-4 pt-2">
    {{!-- <a href=" https://backend-project-q2nk.onrender.com/restorePassword?token={{restoreToken}}"> --}}
      <a href="http://localhost:3000/api/session/restorePassword?token={{restoreToken}}">
        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
          id="restoredPasword">RESET PASSWORD</button>
      </a>
  </div>
  <div align="center" class="alignment" style="line-height:10px">
    <img src="cid:pilates-img" style="display: block; height: auto; border: 0; max-width: 680px; width: 100%;"
      width="680" />
  </div>
</div>