<!-- Contact Start -->
<div class="container-xxl py-5" id="contact">
    <div class="container py-5 px-lg-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-primary-gradient fw-medium">Contacta con nosotros</h5>
            <h1 class="mb-5">¡Ponerse en contacto!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p class="text-center mb-4">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras
                    que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al
                    contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que
                    se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y
                    al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en
                    estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                    propósito (por ejemplo insertándole humor y cosas por el estilo). </p>
                    <form id="consultaForm">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="nombre" id="name" placeholder="nombre">
                                    <label for="name">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="apellido">
                                    <label for="Apellido">Apellido</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="telefono"  name="telefono"  placeholder="Teléfono">
                                    <label for="Telefono">Teléfono</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"  placeholder="Your Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating" >
                                    <select class="form-control " id="select-form" name="curso">
                                        <option value="curso1">Curso 1</option>
                                        <option value="curso2">Curso 2</option>
                                    </select>
                                    <label for="cursos">Selecciona un curso:</label>
                                    
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control"  name="mensaje" placeholder="Leave a message here" id="message"
                                        style="height: 150px"></textarea>
                                    <label for="message">Mensage</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<script src="/js/consulta.js"></script>