<!-- About Start -->

<div class="container-xxl py-5" id="nosotros">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                {{!-- <h5 class="text-primary-gradient fw-medium">ABIERTA LA INSCRIPCIÓN 2024</h5> --}}
                {{#each inicio}}
                {{{ this.texto }}}
                {{/each}}
                {{!-- <h1 class="mb-4">INICIO MARZO 2024!!</h1>
                <ul>
                    <li>Valor de la cuota inicial $20000 (sujeto a modificación)</li>
                    <li>Podes abonar en efectivo o transferencia</li>
                    <li>No se abona matricula de inscripción</li>
                    <li>La modalidad de cursada es de manera presencial</li>
                    <li>Duración 20 meses dividido en 2 ciclos de 10 meses</li>
                    <li>Cada formación se desarrolla de manera práctica y teórica, no necesitas
                        conocimientos previos.</li>
                </ul> --}}
                <h5>Requisitos:</h5>
                <ul>
                    <li>Ser mayor de 17 años</li>
                    <li style="font-weight: bold;color:black">Presentar apto físico (sin excepción)</li>
                    <li>Los títulos son otorgados por Balans Instituto de Formación Profesional</li>
                    <li>Podrás
                        desarrollar tu formación en diferentes áreas, centros de estética, gimnasios, clubes o
                        como profesional independiente</li>
                    <li>Los diplomas otorgados son privados.</li>
                    <li>Instituto Balans otorga el material teórico, en formato digital, y los materiales de
                        aprendizaje para todas sus formaciones prácticas.</li>
                    <li>Titulos avalados por la <a
                            href="/descargarDocumentoParticular/public/imagenes/adhesionInstitutoBalans.pdf"
                            >
                        Cámara
                        Argentina para la formación profesional y capacitación laboral</a></li>




                </ul>
                <img src="/imagenes/QR-TITULOS.png" class="imagenQR img-fluid wow fadeInUp " alt="">
                <a href="/registro" class="btn btn-grad rounded-pill ">Inscribirme</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/gym1.jpg">
                {{!-- <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/gym1.jpg"> --}}
            </div>
        </div>
    </div>
</div>
<!-- About End -->