<!-- About Start -->
<div class="container-xxl py-5" id="nosotros">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Acerca de nosotros</h5>
                <h1 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Aliquam ultrices sagittis orci a scelerisque purus semper. In hac habitasse platea dictumst quisque sagittis
                purus sit. Tincidunt eget nullam non nisi est. Lectus arcu bibendum at varius vel pharetra vel turpis. Velit dignissim
                sodales ut eu sem integer vitae. Feugiat in fermentum posuere urna nec tincidunt praesent. Nunc sed velit dignissim
                sodales ut eu sem. Eget nulla facilisi etiam dignissim diam quis. Id eu nisl nunc mi ipsum. Bibendum at varius vel
                pharetra vel turpis nunc eget lorem. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Neque egestas
                congue quisque egestas diam. Praesent tristique magna sit amet purus. Velit dignissim sodales ut eu. Auctor eu augue ut
                lectus. Mattis ullamcorper velit sed ullamcorper. Pellentesque massa placerat duis ultricies.
                
                Mi bibendum neque egestas congue quisque. Sed faucibus turpis in eu mi bibendum neque egestas. Aliquam ultrices sagittis
                orci a scelerisque. Egestas congue quisque egestas diam in arcu cursus euismod quis. Sodales ut eu sem integer vitae
                justo eget. In metus vulputate eu scelerisque felis. Tortor aliquam nulla facilisi cras fermentum odio eu. Aliquam
                malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. A erat nam at lectus urna duis. Mauris pellentesque
                pulvinar pellentesque habitant morbi tristique senectus et netus. Lectus nulla at volutpat diam ut venenatis tellus in.
                Malesuada fames ac turpis egestas. Proin libero nunc consequat interdum varius. Mi ipsum faucibus vitae aliquet.
                Fringilla est ullamcorper eget nulla facilisi etiam. Consequat ac felis donec et.
                
                Tempor orci eu lobortis elementum nibh tellus. Dapibus ultrices in iaculis nunc sed augue lacus. Dictum varius duis at
                consectetur lorem donec massa. Eget est lorem ipsum dolor. A diam sollicitudin tempor id. Pellentesque sit amet
                porttitor eget dolor morbi non arcu. Egestas pretium aenean pharetra magna. Maecenas ultricies mi eget mauris pharetra
                et. Ornare arcu dui vivamus arcu. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Praesent semper
                feugiat nibh sed pulvinar. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
                
                Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Leo vel fringilla est ullamcorper eget nulla
                facilisi etiam. Proin nibh nisl condimentum id venenatis a. Eget sit amet tellus cras. Dolor magna eget est lorem. Nisi
                quis eleifend quam adipiscing vitae. Vivamus at augue eget arcu dictum varius duis. Vestibulum sed arcu non odio euismod
                lacinia. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Turpis egestas maecenas pharetra convallis. Morbi
                enim nunc faucibus a pellentesque sit amet porttitor. Mauris cursus mattis molestie a iaculis at erat pellentesque. In
                nulla posuere sollicitudin aliquam ultrices sagittis. Ornare arcu odio ut sem nulla pharetra diam sit. Dolor magna eget
                est lorem ipsum dolor sit. Et malesuada fames ac turpis egestas maecenas. Arcu risus quis varius quam quisque id diam.
                
                Eu facilisis sed odio morbi. Habitant morbi tristique senectus et netus et malesuada fames ac. Suspendisse interdum
                consectetur libero id faucibus nisl. Dui vivamus arcu felis bibendum ut tristique et egestas quis. Quam adipiscing vitae
                proin sagittis nisl rhoncus. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Morbi tincidunt ornare massa
                eget egestas purus viverra accumsan. Morbi tincidunt ornare massa eget egestas. Neque convallis a cras semper auctor.
                Orci porta non pulvinar neque laoreet suspendisse interdum. Pharetra et ultrices neque ornare aenean euismod elementum
                nisi. Ut tristique et egestas quis ipsum suspendisse. Rutrum tellus pellentesque eu tincidunt. Eget nunc scelerisque
                viverra mauris in. At augue eget arcu dictum varius duis. Sit amet venenatis urna cursus eget nunc scelerisque viverra
                mauris. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Velit aliquet sagittis id consectetur. Lorem mollis
                aliquam ut porttitor leo.
                </p>
                <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Read More</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/capacitacion.jpg">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/online.jpg">
            </div>
        </div>
    </div>
</div>
<!-- About End -->