<div class="container py-5 px-lg-5">
    <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-4">ASESORAMIENTO EN NUTRICIÓN Y GIMNASIA</h1>
            <h5 class="text-primary-gradient fw-medium">La formación comprende:</h5>

            <ul>
                <li>
                    Conocimientos sobre alimentación saludable.
                </li>
                <li>
                    Relación de los alimentos con las distintas enfermedades que se producen por falta de una buena
                    nutrición y se complementa con clases de gimnasia adaptables para cada necesidad.
                </li>
                <li>
                    Duración 20 meses dividido en 2 ciclos de 10 meses.
                </li>
            </ul>
            <h5> Asistencia:
            </h5>
            <ul>
                <li>
                    La Asistencia es semanal, consta de 1hora 30 min de clase teórico/práctica,
                    completando tu formación con trabajos prácticos, que se presentarán a través
                    de una plataforma virtual. Lo cuales deberán ser presentados en tiempo y
                    forma y aprobados.
                </li>
            </ul>
            <h5>
                Evaluación:
            </h5>
            <ul>
                <li>
                    Cada ciclo tendrá una evaluación final donde se evaluarán los conocimientos
                    adquiridos.
                </li>
            </ul>

            <h5>
                Requisitos:
            </h5>
            <ul>
                <li>
                    Ser mayor de 17 años
                </li>
                <li>
                    Presentar apto físico (sin excepción)
                </li>
            </ul>
            </br>

            <p>
                Valor de la cuota inicial $20000 (sujeto a modificación)
            </p>
            <p>
                Forma de pago: efectivo o transferencia
            </p>
            <p>
                No se abona matrícula de inscripción
            </p>
            <p>
                Cada formación se desarrolla de manera práctica y teórica, no se necesita conocimientos previos.
            </p>
            <p>
                Los títulos son otorgados por Balans Instituto de Formación Profesional, con una
                matrícula interna del Instituto. Podrás desarrollar tu formación en diferentes áreas,
                centros de estética, gimnasios, clubes o como profesionales independientes.
            </p>
            <p>
                Los diplomas otorgados son privados.
            </p>
            <p>
                Instituto Balans otorga el material teórico, en formato digital, y los materiales de
                aprendizaje para todas sus formaciones prácticas.
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/nutricion.jpg">
            {{!-- <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/pilates3.jpg"> --}}
        </div>
        <div class="col-12 ">
            <a class="btn btn-grad rounded-pill py-3 px-5" href="/registro">Inscribirme</a>
        </div>
    </div>
</div>