<!-- About Start -->

<div class="container-xxl py-5" id="nosotros">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                {{#each pilates}}
                {{{ this.texto }}}
                {{/each}}
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/pilates2.jpg">
            </div>
            {{#if user}}
            <form id="registroForm" enctype="multipart/form-data">
                <div class="row">
                    {{#each pilates}}

                    <div class="col-md-2 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example1" name="nombre" class="form-control nombre"
                                value="{{this.nombre}}" readonly />

                            <label class="form-label" for="nombre"><i
                                    class="fa-solid fa-id-card-clip me-3"></i></i>Curso</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" name="precio" class="form-control precio"
                                value="{{this.precio}}" readonly />
                            <label class="form-label" for="precio"><i
                                    class="fa-solid fa-signature me-3"></i>Precio</label>
                        </div>
                    </div>
                    {{/each}}
            </form>
            {{!-- <div class="col-12 ">
                <a class="btn btn-grad rounded-pill py-3 px-5" id="checkout-btn">Inscribirme</a>
            </div> --}}
            <div id="wallet_container" class="col-3"></div>
            {{/if}}
        </div>
    </div>
</div>
<!-- About End -->