<!-- About Start -->

<div class="container-xxl py-5" id="nosotros">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                {{#each quiromasaje}}
                {{{ this.texto }}}
                {{/each}}

                
            </div>

            <div class="col-lg-6">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/quiromasaje.jpg">
                {{!-- <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="imagenes/pilates3.jpg"> --}}
            </div>
            <div class="col-12 ">
                <a class="btn btn-grad rounded-pill py-3 px-5" href="/registro">Inscribirme</a>
            </div>
        </div>
    </div>
</div>