<section class="vh-100 m-5">
  <div class="container-fluid h-custom">
    <div class="row align-items-center bg-light py-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form id="restoreRequestForm">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <h1 class="border-primary-subtle border-bottom my-4 me-3">Reestablecer contraseña</h1>

            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <p>Por favor ingrese su email para el envío del correo:</p>
              <input type="email" name="email" class="form-control form-control-lg"
                placeholder="Ingrese una dirección de email válida" />
              <label class="form-label">Dirección de email </label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                id="restoredPasword">Enviar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">¿Tienes cuenta?
                <a href="/login" class="link-danger">Login</a>
              </p>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="/js/restoreRequest.js"></script>