<section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row  align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5 titulo2">INGRESO NO AUTORIZADO!!!</h2>
                        <h6 class="text-center mb-4">¡Ud se encuentra logueado o no posee permisos para ésta sección.!
                        </h6>
                        <p class="text-center mb-4">
                            Por favor, verifique con el administrador y vuelva a intertarlo.</p>
                        <!-- Submit button -->
                        <div class="col-12 ">
                            <a href="/" class="btn btn-grad rounded-pill py-3 px-5" type="submit">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <i class="fa-solid fa-circle-exclamation  "></i>
                {{!-- <img src="imagenes/balansIMG.png" class="w-100 rounded-4 shadow-4" alt="" /> --}}
            </div>
        </div>

    </div>
    </div>
    <!-- Jumbotron -->
</section>