/********** Template CSS **********/
:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
    --light: #F0F6FF;
    --dark: #262B47;
    --loginPrimary: #0751c0;
}

.imagenQR {
    
    scale: 0.75;
   
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(99, 20, 173, 0.5);
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Gradient Text & BG ***/
.text-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.bg-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

.bg--login-gradient {
    background: linear-gradient(to bottom right, var(--light), var(--secondary));
}


/*** Button ***/
.btn {
    transition: .5s;
}
/* .img-curso{
    width: fit-content;    

} */
.btn.btn-primary-gradient,
.btn-login-gradient,
.btn.btn-secondary-gradient {
    position: relative;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
    z-index: 1;
}

.btn-light {
    color: var(--secondary);
}

.btn.btn-light:hover {
    color: var(--primary);
}





.btn.btn-primary-gradient::after,
.btn-login-gradient::after .btn.btn-secondary-gradient::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    opacity: 0;

}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient::after {
    background: linear-gradient(to bottom right, rgba(75, 0, 130, 1) 34%,
            rgba(0, 127, 255, 1) 100%);



}
.custom-select-container {
    position: relative;
}

.titulo2 {
    color: red;
}
.derechos {
    font-size: 11px;
    margin: 20px,20px,0px,20px;
    padding: 20px,20px,0px,20px;


}

.fa-circle-exclamation {
    font-size: 240px;
    color: red;
}
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    /* Ajusta según sea necesario para dejar espacio para el icono */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23363a3e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right center;
}

/* Para adaptar a tus estilos, puedes ajustar la posición de la flecha */
.custom-select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-30%);
    pointer-events: none;
}


.btn-grad {
    background-image: linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    /* display: block; */
}
.btn-info {
    background-image: linear-gradient(to right, #b2b1b4 0%, #5f26e4 51%, #4108c5 100%);
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #e4e4e4 100%);
    /* display: block; */
}
.precio {
    text-align: center;

    border: none;
    /* Quita el borde */
    /* background-color: transparent; */
    /* Fondo transparente */
    pointer-events: none;
    /* Desactiva eventos de puntero */
    /* outline: inherit; */
    /* Quita el contorno al seleccionar */
    color: #673AB7;

    /* Mantiene el color de texto original */
    box-shadow: 0 0 20px rgba(99, 20, 173, 0.5);
}

.precio:hover {
    text-align: center;

    border: none;
    /* Quita el borde */
    /* background-color: transparent; */
    /* Fondo transparente */
    pointer-events: none;
    /* Desactiva eventos de puntero */
    outline: inherit;
    /* Quita el contorno al seleccionar */
    color: #FFFFFF;
    /* Mantiene el color de texto original */
}
.btn-info:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #FFFFFF;
        text-decoration: none;
}
.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #FFFFFF;
    text-decoration: none;
    
}
.informacion{
    color:rgba(75, 0, 130, 1);
    font-size:smaller ;
}
.text{
    color:rgba(75, 0, 130, 1);
    font-size:larger ;
}
.btn-login-gradient {
    background: linear-gradient(to bottom right, var(--loginPrimary), var(--primary));
}

.btn.btn-secondary-gradient,
.btn.btn-primary-gradient::after {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

.btn-login-gradient::after {
    background: linear-gradient(to bottom right, var(--secondary), var(--light));
}

.btn-primary-gradient:hover::after,
.btn-login-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
    opacity: 1;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    /* display: none; */

    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    background-image: linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);
}


.wp {
    position: fixed;
    /* display: none; */
    right: 100px;
    /* Ajusta la posición horizontal para evitar superposición */
    bottom: 45px;
    /* Ajusta la posición vertical según tus necesidades */
    z-index: 99;
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    background-image: linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);
}

.back-to-top:hover,
.wp:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #e7be08;
    text-decoration: none;
}

.iconowp {
    color: #fff;
}

.links {
    color: #fff;

}

.links:hover {
    color: #5b5ddf;

}

/** perfil foto **/

.perfil {
    display: flex;
    align-items: center;
}

.foto-de-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Hace que la imagen sea circular */
    overflow: hidden;
    /* Oculta las partes de la imagen fuera del círculo */
}

.foto-de-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen para que llene el círculo */
}

.informacion-de-perfil {
    margin-left: 20px;
}

.foto-de-perfil-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* Hace que la imagen sea circular */
    overflow: hidden;
    /* Oculta las partes de la imagen fuera del círculo */
}

.foto-de-perfil-button img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    /* Ajusta la imagen para que llene el círculo */
}

.foto-de-perfil-button {
    margin-left: 0px;
}

/** imput file image **/

/* .form-outline.mb-4 {
    
} */

.image-upload {
    display: inline-block;
    position: relative;
}

.image-label {
    cursor: pointer;
    display: block;
    width: 50px;
    /* Ancho de la vista previa */
    height: 50px;
    /* Alto de la vista previa */
    background-color: #3498db;
    /* Color de fondo del icono */
    border-radius: 50%;
    /* Para crear un círculo si es necesario */
    text-align: center;
    line-height: 50px;
    /* Centra verticalmente el contenido */
}

.updateImage {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    /* viewBox:"0 0 50 50"; */
    /* Color del icono */
}

.file-input {
    display: none;
    /* Oculta el campo de entrada de archivo real */
}
.info-text {
 color: red;
 font-size: larger;
}

.image-label {
    cursor: pointer;
    display: block;
    width: 100px;
    /* Ancho de la vista previa */
    height: 100px;
    /* Alto de la vista previa */
    background-color: #3498db;
    /* Color de fondo del contenedor */
    border-radius: 50%;
    /* Para crear un círculo si es necesario */
    text-align: center;
    line-height: 100px;
    /* Centra verticalmente el contenido */
    position: relative;
    /* Añade esta propiedad para posicionar los elementos internos */
}

.updateImage {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;

}

#imagePreview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#imagePreview {
    display: none;
    /* Oculta la imagen de previsualización inicialmente */
}


/** **/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 45px 0 0 0;
    font-family: 'Jost', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;

}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;



}

.balans {
    font-family: 'Antura Script', cursive;
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 14px;
}

.imagenBalans {
    font-size: 15px;
    /* display: none; */
    right: 100px;
    /* Ajusta la posición horizontal para evitar superposición */
    bottom: 45px;
    /* Ajusta la posición vertical según tus necesidades */
    z-index: 99;
    /* Transición suave para animar el cambio de tamaño */
    transition: transform 0.3s ease-in-out;
}

.imagenBalans:hover {
    /* Aumenta el tamaño al pasar el cursor por encima */
    transform: scale(1.1);
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 50px;
}

/* Estilos personalizados para el menú desplegable */
.dropdown-menu {
    background-color: #fff;
    /* Color de fondo */
    border: 1px solid #ccc;
    /* Borde */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

.dropdown-item {
    color: #333;
    /* Color del texto */
    padding: 10px 5px;
    /* Espaciado interior */
    transition: background-color 0.3s;
    /* Transición de color al pasar el cursor */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
    /* Color de fondo al pasar el cursor */
}



@media (max-width: 991.98px) {
    .hide-on-small {
        display: none;
    }
    #bars-icon {
        color: #693c8f;
        /* Cambiar color */
        font-size: 24px;
        border-color: #693c8f;
        scale: 0.9;
        /* Otros estilos personalizados */
    }
    .balans {
        font-family: 'Antura Script', cursive;
        font-weight: lighter;
        color: #693c8f;
        font-size: 14px;
    }

    .imagenBalans img[src="/imagenes/BalansNav2.png"] {
        display: none;
        /* Oculta la imagen original en resoluciones pequeñas */
    }

    .navbar-light {
        background-color: transparent !important;
    }

    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary) !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }

    /* Nuevos estilos para mostrar elementos uno al lado del otro */
    .navbar {
        display: flex;
        align-items: center;
    }

    .navbar-logo,
    .navbar-nav-container,
    .login-button-container {
        margin-right: 10px;
    }

    .navbar-logo {
        flex-grow: 1;
    }
}


@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .imagenBalans img[src="/imagenes/BalansIMG.png"] {
        display: none;
        /* Oculta la nueva imagen en resoluciones grandes */
    }
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        border-top-color: var(--primary);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}






/*** Hero Header ***/
.hero-header {
    margin-bottom: 0rem;
    padding: 16rem 3rem 5rem 10rem;
    background:
        url(../imagenes/bg-circle.png),
        url(../imagenes/bg-triangle.png),
        url(../imagenes/bg-bottom.png),
        linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);

    /* (90deg, rgba(105, 60, 143, 1) 45%, rgba(159, 138, 177, 1) 84%); */


    /* linear-gradient(90deg, #A9C9FF 0%, #FFBBEC 100%); */
    /* var(--primary),
                var(--secondary)); */
    background-position:
        left 0px top 0px,
        right 10px top 40%,
        center bottom;
    background-repeat: no-repeat;
}

.hero-header:hover {
    margin-bottom: 0rem;
    padding: 16rem 3rem 5rem 10rem;
    background:
        url(../imagenes/bg-circle.png),
        url(../imagenes/bg-triangle.png),
        url(../imagenes/bg-bottom.png),
        linear-gradient(to right, #673AB7 100%, #512DA8 51%, #673AB7 0%);
    background-position:
        left 0px top 0px,
        right 10px top 40%,
        center bottom;
    background-repeat: no-repeat;
}

/* @media (max-width: 991.98px) {
     .hero-header {
        padding: 6rem 0 9rem 0;
    } 
} */

/** Contact **/





/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

/** login **/
.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

/*** Pricing ***/
.pricing .nav {
    padding: 2px;
}

.pricing .nav-link {
    padding: 12px 30px;
    font-weight: 500;
    color: var(--dark);
    background: #FFFFFF;
}

.pricing .nav-item:first-child .nav-link {
    border-radius: 30px 0 0 30px;
}

.pricing .nav-item:last-child .nav-link {
    border-radius: 0 30px 30px 0;
}

.pricing .nav-link.active {
    color: #FFFFFF;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}


/*** Screenshot ***/
.screenshot-carousel {
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
    margin-right: 30px;
}

.screenshot-carousel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../imagenes/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 1;
}

.screenshot-carousel .owl-item img {
    position: relative;
    width: 223px;
    height: 470px;
}

.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenshot-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 15px;
    transition: .5s;
}

.screenshot-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.screenshot-carousel .owl-dot.active {
    box-shadow: 0 0 10px var(--dark);
}

/** imagen icon **/


.icon {
    width: 20px;
    /* Ajusta el ancho según tus necesidades */
    margin-right: 10px;
    /* Agrega un espacio entre la imagen y el texto del formulario */
    vertical-align: middle;
    /* Alinea verticalmente la imagen con el texto */
    filter: grayscale(100%);

}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 60px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}


/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background:
        url(../imagenes/bg-circle.png),
        url(../imagenes/bg-triangle.png),
        url(../imagenes/bg-top.png),
        linear-gradient(to right, #673AB7 0%, #512DA8 51%, #673AB7 100%);
    background-position:
        left 0px bottom 0px,
        right 0px top 50%,
        center top;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}